@model WebApplication2.Models.AtivoFundoModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var errors = ViewData["Errors"] as List<string> ?? new List<string>();
}

<h1>Editar</h1>

<h4>Fundo</h4>
<hr />
<div class="row">
<div class="col-md-4">
    <form asp-action="edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Idfundo" />
        <input type="hidden" asp-for="Idativo" />
        <input type="hidden" asp-for="Idcliente" />
        <div class="form-group">
            
            <label asp-for="Datainicio" class="control-label"></label>
            <input asp-for="Datainicio" class="form-control" />
            <span asp-validation-for="Datainicio" class="text-danger"></span>
            
        </div>
       
        <div class="form-group">
            <label >Duração</label>
            <input asp-for="Durancao" class="form-control"/>
            <span asp-validation-for="Durancao" class="text-danger"></span>
            
        </div>
        <div class="form-group">
            <label asp-for="Taxaimposto" class="control-label"></label>
            <input asp-for="Taxaimposto" type="taxaimposto" class="form-control"/>
            <span asp-validation-for="Taxaimposto" class="text-danger"></span>
        </div>
       
    
    

        
            
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control"/>
                <span asp-validation-for="Nome"></span>
            </div>
            <div class="form-group">
                <label asp-for="Montante" class="control-label">Montante</label>
                <input asp-for="Montante" class="form-control"/>
                <span asp-validation-for="Montante"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Taxajuro" class="control-label">Taxa de Juro</label>
                <input asp-for="Taxajuro" class="form-control"/>
                 <span asp-validation-for="Taxajuro"></span>
            </div>
            
            
            <div class="form-group">
                <label class="control-label"></label>
            </div>



            <div class="form-group">
                <input type="submit" value="Editar Fundo" class="btn btn-primary"/>
            </div>
           <div style="color: red;">
                        @foreach (var error in errors)
                        {
                            <p>@error</p>
                        }
                    </div>
  </form>
    </div>
    <div>
        <a asp-action="Index">Voltar a lista</a>
    </div>

  
</div>