@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo à aplicação <b><small>Gestão de Ativos</small></b></h1>
        <h2>Utilizador: @(UserSession.nome??"")</h2>
        
</div>