

@{
    Layout = "_Layout";
}

<form asp-action="DatasFun">
    <input type="submit" value="Gerar Relatorio Para os Fundos" class="btn btn-primary" /> 
    
</form>
<p></p>
<p></p>
<form asp-action="DatasImo">
    <input type="submit" value="Gerar Relatorio Para os Imoveis" class="btn btn-primary" /> 
    
</form>
<p></p>
<p></p>
<form asp-action="DatasDep">
    <input type="submit" value="Gerar Relatorio Para os Depositos" class="btn btn-primary" /> 
    
</form>
<p></p>
<form asp-action="relatorioImposto">
    <input type="submit" value="Gerar Relatorio Para os impostos pagos" class="btn btn-primary" /> 
    
</form>